html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
}

.outline {
  padding-right: 5%;
  padding-left: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.nav {
    padding-right: 15%;
    padding-left: 15%;
}

.nav button {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 40px;
}

.centered_buttons {
    display: flex;
    justify-content: center;
    justify-content: bottom;
}

.help {
    padding-top: 80%;
}
