html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
}

.outline {
  padding-right: 5%;
  padding-left: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.centered_buttons {
    display: flex;
    justify-content: center;
    justify-content: bottom;
}

.help {
    padding-top: 100%;
}
