<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Add!</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="../main.css">
  </head>
  <body>
      <!-- Sidebar -->
        <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
          <p class="w3-bar-item">RoboLib</p>
          <section class="nav">
              <button value="index" onclick="changePath(this.value)" class="nes-btn is-primary">Book List</button>
              <br>
              <button value="add" onclick="changePath(this.value)" class="nes-btn is-primary">Add Book</button>
              <br>
              <button value="query" onclick="changePath(this.value)" class="nes-btn is-primary">Query</button>
          </section>
          <!-- Dialog -->
          <section class="centered_buttons help">
            <button type="button" class="nes-btn is-error" onclick="document.getElementById('dialog-default').showModal();">
              Help
            </button>
            <dialog class="nes-dialog" id="dialog-default">
              <form method="dialog">
                <p class="title">Help</p>
                <p>By submitting, this data will be saved on your machine
                in a JSON file.</p>
                <menu class="dialog-menu">
                  <button class="nes-btn is-primary">Okay</button>
                </menu>
              </form>
            </dialog>
          </section>
      </div>

      <div class="outline">
          <form id="bookForm">
          <div class="nes-container with-title">
             <p class="title">Add Book</p>

             <p>Good morning. Thou hast had a good night's sleep, I hope.</p>

             <div class="nes-field">
               <label for="name_field">Book Title</label>
               <input type="text" id="title" class="nes-input">
             </div>

             <div class="nes-field">
               <label for="author_field">Author</label>
               <input type="text" id="author" class="nes-input">
             </div>

             <label for="genre">Genre</label>
            <div class="nes-select">
              <select required id="genre">
                <option value="" disabled selected hidden>Select...</option>
                <option value="sci-fi">Science Fiction</option>
                <option value="fantasy">Fantasy</option>
              </select>
            </div>

            <label for="answer">Owned?</label><br>
            <label>
                <input type="radio" value="Yes" class="nes-radio" name="answer" checked />
                <span>Yes</span>
            </label>

            <label>
                <input type="radio" value="No" class="nes-radio" name="answer" />
                <span>No</span>
            </label>

            <div class="nes-field">
              <label for="url_field">Purchase Location (url)</label>
              <input type="text" id="url" class="nes-input">
            </div>

          </div>

          <br>
          <div class="nes-container with-title">
              <p class="title">Submit</p>

              <button type="submit" class="nes-btn is-success">Yes</button>
              <button type="button" class="nes-btn is-warning">No</button>

          </div>
      </form>
      </div>

      <script src="../add.js"></script>

      <script>
      function changePath(file){
          console.log(file);
          ipcRenderer.send('changePage', file);
      }
      </script>

  </body>
</html>
