<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Query!</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="../main.css">
  </head>
  <body>
      <!-- Sidebar -->
        <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
          <p class="w3-bar-item">RoboLib</p>
          <section class="nav">
              <button value="index" onclick="changePath(this.value)" class="nes-btn is-primary">Book List</button>
              <br>
              <button value="add" onclick="changePath(this.value)" class="nes-btn is-primary">Add Book</button>
              <br>
              <button value="query" onclick="changePath(this.value)" class="nes-btn is-primary">Query</button>
          </section>
          <!-- Dialog -->
          <section class="centered_buttons help">
            <button type="button" class="nes-btn is-error" onclick="document.getElementById('dialog-default').showModal();">
              Help
            </button>
            <dialog class="nes-dialog" id="dialog-default">
              <form method="dialog">
                <p class="title">Help</p>
                <p>By submitting, this data will be saved on your machine
                in a JSON file.</p>
                <menu class="dialog-menu">
                  <button class="nes-btn is-primary">Okay</button>
                </menu>
              </form>
            </dialog>
          </section>
      </div>


      <div class="outline">

      </div>

      <script src="../render.js"></script>
      <script>
      function changePath(file){
          console.log(file);
          ipcRenderer.send('changePage', file);
      }
      </script>

  </body>
</html>
