<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Books!</title>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="../splash.css">
    </head>
    <body>
        <br><br><br>
        <div class="centered">
            <img class="puff-in-center" src="../images/logo.png"
            height="400" width="380">
        </div>
        <br><br><br>
        <div class="centered">
            <a href="add.html"><button class="nes-btn is-primary centered_buttons">
                Start</button>
            </a>
        </div>
    </body>
</html>
